extends layout

block content  
  div
    div(class="form-group")
      label(for="textinput") Name
      input(id="textinput" type="text" class="form-control" aria-describedby="nameHelp")
      small(id="nameHelp" class="form-text text-muted") 사용자 이름을 입력하세요.    
    div(class="text-right")  
      button(id="btnStart" type="button" class="btn btn-primary w-25") Start
    hr
    div
      ul(id="listview" class="list-group")    

block script 
  script.
    $(document).ready(function () {
      var socket = io.connect();

      $('#btnStart').prop('disabled', false);
      
      $('#btnStart').click(function () {   
        $('#btnStart').prop('disabled', true);

        var name = $('#textinput').val();

        socket.emit('join', $('#textinput').val());

        socket.on('update', function (data) {
          var latitude = data.latitude;
          var longitude = data.longitude;

          var output = '';
          
          output += '<h5>' + data.name + '</h5>';
          output += '<h6>' + data.latitude + " / " + data.longitude + '</h6>';          
          output += '<p>' + data.date + '</p>'          

          $('<li class="list-group-item"></li>').append(output).prependTo('#listview');

          var content = $('#listview');

          console.log(content.children().length);

          if (content.children().length > 5) {
            content.children().last().remove();
          }  
        });        

        navigator.geolocation.watchPosition(function (position) {
          socket.emit('location', {
            name: name,
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            date : new Date().toLocaleString()
          });
        }, function (error) {
          alert(error.message);
        });
      });
    });
