extends layout

block style
  style. 
    .list-group{
      max-height: 70vh;
      margin-top: 10px;
      padding: 0px;
      border: 1px solid rgna(0, 0, 0, 0);
      overflow:scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }

block content  
  div
    div(class="form-group")
      label(for="textinput") Name
      input(id="textinput" type="text" class="form-control" aria-describedby="nameHelp")
      small(id="nameHelp" class="form-text text-muted") 사용자 이름을 입력하세요.    
    div(class="text-right")  
      button(id="btnStart" type="button" class="btn btn-primary w-25") Start
    hr
    div
      ul(id="listview" class="list-group")    

block script 
  script.
    $(document).ready(function () {
      var socket = io.connect();

      $('#btnStart').prop('disabled', false);

      $('#btnStart').click(function () {
        $('#btnStart').prop('disabled', true);

        var name = $('#textinput').val();

        socket.emit('join', $('#textinput').val());

        socket.on('update', function (data) {
          var latitude = data.latitude;
          var longitude = data.longitude;

          var parent = $("#listview");

          var count = parent.children().length + 1;

          console.log(count);

          var output = '';

          output += '<h5>' + data.name + '</h5>';
          output += '<h6>' + data.latitude + " / " + data.longitude + '</h6>';
          output += '<p>' + data.date + ' [' + count + ']</p>'

          $('<li class="list-group-item"></li>').append(output).prependTo('#listview');

          //- var parent = $("#listview");

          //- parent.scrollTop(parent.prop("scrollHeight"));

          //- if (parent.children().length > 5) {
          //-   parent.children().last().remove();
          //- }
        });

        navigator.geolocation.watchPosition(function (position) {
          socket.emit('location', {
            name: name,
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            date: new Date().toLocaleString()
          });
        }, function (error) {
          alert(error.message);
        });
      });
    });
